nav {
  
  /* width: 1160px; */
  /* width: 1040px; */
  margin: 0px 20px 20px 20px;
  padding: 10px 10px;
  
  max-height:32px;
  height:32px;

  font-family: alagard;
  font-size: 32px;

  
  text-align: center;
  /* background-image: url(images/backgrounds/movement.gif); 
  background-blend-mode: color-burn;
  background-color: var(--secondary); */
}



.nav {
  margin-left: 0px;
  padding: 0;

  align-content: center;



}
.nav li {
  display:inline-block;

 /* padding-left:28px;
padding-right:28px; */
}
.nav li a {
  color: var(--primary);
  text-decoration: none;
}

.nav-dark {
  filter: brightness(70%);
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
  }


.row{
  height: 150;
  vertical-align: middle;
  text-align: center;
  align-self: center;
  align-content: center;
  
}
.row h1{
  align-self: center;
}

.bigBox {
width: 100%;
min-height: 100%;

margin: 55px 0px 0px 0px;

border: dotted;
align-self:center;
}

.leftPanel {
  display: inline-block;

  width: 10%;
  height: 90%;
  
  margin: 25px;
  padding: 25px;
  
  border: dotted;
}

.mainPanel {
display: inline-block;

width: 60%;
height: 90%;

margin: 25px;
padding: 25px;


border: dotted;
}

.rightPanel {
display: inline-block;

width: 10%;
height: 90%;

margin: 25px;
padding: 25px;

border: dotted;
}

body {
    background-color: #401e6a;
    color: #eee;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }

  @media screen and (max-width: 800px){
    .nav{
      flex-direction: column;
    }
  }

  /*To do : make the navbar instead hust a div class with lots of links?
   and turn the main box into a flexbox?
   Debating how I want mobile to look
