
.intheheader {
    height: 150px;
    align-content: center;
    text-align: center;
}




body {
    background-color: #1e1138;
    color: #eee;
    height: 100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }


.navbar {
    justify-content: center;
    display: flex;

}

nav {
    background-color: pink;
    border: solid;
    border-radius: 5px;
    border-color: pink;
    margin-bottom: 25px;
  
}
button {
    width: 88px;
    height:31px;
    color:#1e1138;

}
.navbar li {
    display: inline;
    color: darkmagenta;
    
}
.navbar li a {
    text-align: center;
    padding:   10px;
    text-decoration: none;
   

}

.navbar a {
    color: darkmagenta;
}


.mainflex {
display: flex;
flex-direction: row;
width: 100%;
min-height: 100%;
align-self: center;

border: solid;
justify-content:left;
justify-items:left;

}


.boxof88x31 {
    display:grid;
   grid-template-columns: auto auto;
    /*margin-top: 500;
    margin-left:-130px;*/
    align-self:center;
    width:176px;
    margin: 12px;
    
}
.boxof88x31 div{
    height:31px;
    width:88px;
}
.box88 {
    width: 88px;
    height: 31px;
    cursor:pointer; 
}
.leftPanel {
    background-color: #401e6a;
    margin: 10px;
    justify-items: center;
    min-height: 100%;
    width: 200px;
    border: dotted;
    text-align: center;
}
.leftPanel #readTitle {
    justify-content: center;
}
.leftPanel a {
    color: wheat;
}
.mainPanel {
    background-color: #401e6a;
    margin: 10px;
    padding-left: 10px;
    min-height: 100%;
    width: calc(100% - 280px);
    border: dotted;
    justify-content: center;
    text-align: center;
    padding: 15px;
}
.mainPanel a {
    color: wheat;
}

.testURL {
    color: wheat;
}
.post {
    margin-left: 15px;
    margin-right: 15px;
}
.rightPanel {
    margin: 10px;
    text-align: justify;
    display: inline-flex;
    height: 100%;
    width: 12%;
    flex-grow:1;
    border: dotted;
}
.bottomflex {
    background-color: #401e6a;
    display: flex;
    flex-direction: column;
}

.blogGrid {
    grid-template-columns: auto auto;
    background-color: #1e1138;
    margin: 10px;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:20px;
    margin-bottom: 20px;
 }
.albumGrid {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #1e1138;
    margin: 10px;
    padding: 5px;
    margin-top:20px;
    margin-bottom: 20px;
 }
 .albumCover {
    grid-row: span 4;
 }
 .albumCover img{
    min-width: 30%;
    max-width: 70%;
    min-height: 30%;
    max-height: 70%;
    
 }
 .albumDesc {
    grid-column: span 2;
 }
 .artofMe img {
    width: 50%;
    
 }

 .friendGrid {
    display:grid;
    grid-template-columns: auto auto; 
    justify-content: center;
    

 }
 .individualFriend {
    background-color: #1e1138;
    border: dotted;
    margin: 5px;
 }
 
 .friendPhoto img {
    max-width: 25%;
    max-height: 25%;
 }